
<div class="chartNav">
    <ul class="nav-links">
        <li class="upward "><a [routerLink]="['/highchart/bar']" routerLinkActive="active" >Bar</a></li>
        <li class="upward"><a [routerLink]="['/highchart/pie']" routerLinkActive="active">Pie</a></li>
        <li class="upward"><a [routerLink]="['/highchart/line']" routerLinkActive="active">Line</a></li>
        <li class="upward "><a [routerLink]="['/highchart/doubleline']" routerLinkActive="active" >Double Line</a></li>
        <li class="upward"><a [routerLink]="['/highchart/area']" routerLinkActive="active">Area Chart</a></li>
      
      </ul>  
<router-outlet></router-outlet>
</div>