<div class="chartNav">
    <ul class="nav-links">
        <li class="upward "><a [routerLink]="['/d3/bar']" routerLinkActive="active" >Bar</a></li>
        <li class="upward"><a [routerLink]="['/d3/pie']" routerLinkActive="active">Pie</a></li>
        <li class="upward"><a [routerLink]="['/d3/line']" routerLinkActive="active">Line</a></li>
        <li class="upward "><a [routerLink]="['/d3/doubleline']" routerLinkActive="active" >Double Line</a></li>
        <li class="upward"><a [routerLink]="['/d3/area']" routerLinkActive="active">Area Chart</a></li>
      
      </ul>  
<router-outlet></router-outlet>