.chartNav{
    width: 80%;
    border: 2px solid red;
    margin: auto;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .nav-links li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0 12px;
    width: 100%;
    text-align: center;
    height: 40px;
  }
  .nav-links li a{
    position: relative;
    width: 100%;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
  }
  .nav-links li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0%;
    background: red;
    border-radius: 12px;
    transition: all 0.4s ease;
  }

  .nav-links li.upward a:before{
    width: 100%;
    opacity: 0;
  }
  .nav-links li.upward a:hover:before{
    bottom: 0px;
    opacity: 1;
  }


  .nav-links li a.active{
  background-color: beige;
  border-bottom: 2px solid red;
  border-radius: 5px;
}