<div class="charts">
  <ul class="nav-links">
    <li class="upward "><a [routerLink]="['/d3']" routerLinkActive="active" >D3</a></li>
    <li class="upward"><a [routerLink]="['/highchart']" routerLinkActive="active">Highcharts</a></li>
  </ul>
<router-outlet></router-outlet>
</div>


<!-- https://rodrigokamada.medium.com/adding-charts-using-the-highcharts-library-to-an-angular-application-5b07912ddbc2 -->
<!-- https://github.com/jamesguru/CHARTS/ -->
<!-- https://rick-moore.medium.com/highcharts-reference-chart-types-edb3818611f3 -->
<!-- https://www.highcharts.com/docs/index -->